{% extends 'base.html' %}
{% load static %}




        
        <title>
            {% block title %}
            | Reset Password
            {% endblock %} 
        </title>
        
      

    
            {% block content %}
            <br>
           
            <div class="container bg-white shadow-md p-5 form-layout text-dark w-100">
                
                <p class='text-center'>Your password has been updated!</p>
                

                 <h6 class='mt-2 text-center '>Login to your Account   </h6>
                 <a class="text-decoration-none text-light btn btn-primary btn-sm  w-100" href="{% url 'userLogin' %}">Login</a>
     
            </div>


            {% endblock content %}
        