{% extends 'base.html' %}
{% load static %}




        
        <title>
            {% block title %}
            | Reset Password
            {% endblock %} 
        </title>
        
      

    
            {% block content %}
            <br>
           
            <div class="container bg-white shadow-md p-5 form-layout text-dark w-100">
                <h3 class="text-center">Password Reset</h3>
                <p class='text-center'>Enter your email address.</p>
                <form method='POST' autocomplete='off' class='text-center' >
                    {% csrf_token %}

                  {{ form }}
                  
                  <br>
                
                     <button type='submit'  class='btn btn-primary btn-lg w-75 btn-block p-2 mt-3 text-light btn-style'>Send Email

                     </button>
                 </form>

                 <p class='mt-2 text-center'>Already have an account?  <a class="text-decoration-none text-dark " href="{% url 'userLogin' %}">Login</a> </p>
     
            </div>


            {% endblock content %}
        