{% extends 'base.html' %}
{% load static %}




        
        <title>
            {% block title %}
            | Reset Password link
            {% endblock %} 
        </title>
        
      

    
            {% block content %}
            <br>
           
            <div class="container bg-white shadow-md p-5 form-layout text-dark w-100">
                <h3 class="text-center">Password reset link sent!</h3>
                <p class='text-center'>If you email is with us, you will receive an email shortly. Please check your email!</p>
               
                 
            </div>


            {% endblock content %}
        