{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}



        
        <title>
            {% block title %}
            | Post
            {% endblock %} 
        </title>
        

            {% block content %}
            <br>

    <div class="container bg-white shadow-md p-5 form-layout text-dark">

        <h1 class='text-dark text-center'>
            Delete Post
        </h1>

                
        <form method='POST' autocomplete='off'>

            {% csrf_token %}

            <p> Are you sure you want to delete this post?</p>
            
        
        <button type='submit' class='btn btn-success w-25 btn-sm p-1 text-dark mr-5 text-dark'><a class='text-decoration-none text-light' href="{% url 'myThoughts' %}" />Go Back </a>

        </button>
        <button type='submit'  class='btn btn-danger btn-sm w-25 btn-block p-1 text-light ml-5 text-dark'>Delete

                </button>
            </form>


            

    </div>


    {% endblock content %}
